<!DOCTYPE html>
<html>
<head>
    <title>DeltaLock</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
    <%= csrf_meta_tags %>
</head>
<body>
    <div id="homepage-vertical-align" class="container">
        <div id="homepage-container">
            <%# Display the login / logout button (based on user signed in) %>
            <% if user_signed_in? %>
                <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn delta-btn homepage-login-logout" %></li>
            <% else %>
                <%= link_to "Login", new_user_session_path, class: "btn delta-btn homepage-login-logout" %></li>
            <% end %>
            <h1 id="homepage-logo-text"> DeltaLock </h1>

            <%# Display buttons based off of user priveledge %>
            <div class="home-buttons-row center">
                <% if is_viewer %>
                    <a href="<%= search_path %>" class="btn-large delta-btn">Search</a>
                <% end %>
                <% if is_editor %>
                    <a href="<%= new_entry_path %>" class="btn-large delta-btn">New</a>
                    <a href="<%= assign_path %>" class="btn-large delta-btn">Assign</a>
                    <a href="<%= manage_path %>" class="btn-large delta-btn">Manage</a>
                <% end %>
            </div>
        </div>		
    </div>
</body>
</html>
