<div class="field row">
    <div class="col s3">
        <%= f.attribute_fields do |a| %>
            <%= a.attribute_select %>
        <% end %>
    </div>
    <div class="col s3">
		<%= f.predicate_select compounds: false, only: [:eq, :not_eq, :lt, :gt, :cont, :not_cont ] %>
    </div>
    <div class="col s5">
        <%= f.value_fields do |v| %>
            <%= v.text_field :value %>
        <% end %>
    </div>
    <div class="col s1 valign-wrapper">
        <a class="remove_fields btn red" href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a>

        <%# link_to "remove", '#', class: "remove_fields" %>
    </div>
</div>

