<div class="modal-content">
    <% if @list.length > 0 %>
        <h1 class="assign-table-header"><%= @name %></h1>
        <table class="table bordered centered responsive-table">
            <thead class="thead-inverse">
                <tr>
                    <% @class.column_names.each do |title| %>
                        <% if ColumnLabels.column?(title) %> 
                            <th><%= ColumnLabels.columnToLabel(title) %></th>
                        <% else %> 
                            <th style="display:none;"><%= title %></th>
                        <% end %>
                    <% end %>
                </tr>
            </thead>
            <tbody>
                <% @list.each do |entry| %>
                    <tr class="assign-row">
                        <% @class.column_names.each do |column| %>
                            <td class="<%= @css_class + "-" + column %>"
                            <% if ColumnLabels.column?(column) %>
                                >
                            <% else %>
                                style="display:none;">
                            <% end %>
                            <%= entry[column] %>
                            </td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
        </table>
    <% end %>
</div>
<div class="modal-footer">
    <button class="btn">Click me</div>
</div>
