<div id="header-information"><h1>Assign Keycode</h1></div>

<div id="assign-purchaser">
	<h2>Is this a new Purchaser?</h2>
	<div class="row">
		<div class="col-xs-6">
			<%= link_to 'Yes', new_purchaser_path, remote:true %>
		</div>
		<div class="col-xs-6">
			<button onclick="existing('Purchasers', 'purchaser')">NO</button>
		</div>
	</div>
</div>


<div id="assign-enduser" style="display:none;">
	<h2>Is this a new End User?</h2>
	<div class="row">
		<div class="col-xs-6">
			<%= link_to 'Yes', new_end_user_path, remote:true %>
		</div>
		<div class="col-xs-6">
			<button onclick="existing('End User', 'enduser')">NO</button>
		</div>
	</div>
</div>


<div id="assign-key" style="display:none;">
	<h2>How would you like to assign a key?</h2>
	<div class="col-xs-4">
		<%= link_to 'Manual Key Import', new_key_path, remote:true %>
	</div>
	<div class="col-xs-4">
		<button onclick="existing('Key Codes', 'key')">Search for keys</button>
	</div>
	<div class="col-xs-4">
		<%= link_to "Import Keys", new_key_upload_path, remote: true %>
	</div>
</div>


<div id="key-upload" style="display:none;"></div>

<div id="assign-purchaseorder" style="display:none;">
	<h2>Would you like to add another key or assign to PO?</h2>
	<div class="col-xs-6">
		<button onclick="reset_keys()">Add another key</button>
	</div>
	<div class="col-xs-6">
		<%= link_to 'New Purchase Order', new_purchase_order_path, remote: true %>
	</div>
</div>

<script>

	function existing(category, id){
		create_list_and_table(id);

		var category_search;
		switch(category){
			case "Purchasers":
				category_search = '<%= j ( render '/keycodes/fetch_purchasers', category: "Purchasers") %>';
				break;
			case "End User":
				category_search = '<%= j ( render '/keycodes/fetch_endusers', category: "End User") %>';
				break;
			case "Key Codes":
				category_search = '<%= j ( render '/keycodes/fetch_keys', category: "Key Codes") %>';
				break;
		}

		$('#assign-' + id).fadeOut(FADE_TIME, function(){
			$("#" + id + "-searchbar-list").fadeIn(FADE_TIME);
			$('#' + id + '-searchbar-list').html('<h2>Find Existing ' + category + '</h2>'+ category_search);
		});
	}
</script>
