<div id="assign-container">
	<% @categories.each do |cat| %>
		<% catName = cat.name.underscore.humanize.split.map(&:capitalize).join(' ') %>
        <% catLower = cat.name.downcase %>
		<div class="assign-quad">
			<div class="assign-title">
				<h3><%= catName %></h3>
			</div>
			<div class="assign-new-or-search" style="display:none;">
                <div class="assign-new-or-search-row"><div class="assign-btn-wrapper"><a class="btn-large delta-btn modal-trigger" href="#<%= catLower %>-new-modal">New <%= catName %></a></div></div>
                <div class="assign-new-or-search-row"><div class="assign-btn-wrapper"><a class="btn-large delta-btn modal-trigger" href="#<%= catLower %>-search-modal">Search <%= catName %>s</a></div></div>
            </div>
        </div>

        <div id="<%= catLower %>-new-modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
            </div>
        </div>
        <div id="<%= catLower %>-search-modal" class="modal modal-fixed-footer">
            <div class="modal-content">
                <h4>Modal Header</h4>
                <p>A bunch of text</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
			</div>
		</div>
	<% end %>
</div>

