$("#assign-search-form").html("<%= j ( render 'assign/result_table' ) %>");

$(".assign-row").click(function(){
    $(this).addClass("assign-row-active").siblings().removeClass("assign-row-active");
    //assign_params["<%= @css_class %>"] = $("#<%= @css_class %>-id").; 
    assign_params["<%= @css_class %>"] = parseInt($(this).find(".<%= @css_class %>-id").html());
    
    var elementValue;
    <% @class.column_names.each do |title| %>
		<% if ColumnLabels.column?(title) %>
            // Get <%= title %> value
            elementValue = $.trim($(this).find(".<%= @css_class %>-<%= title %>").html());
            // Add it to the list
            $("#<%= @css_class %>-assign-selected").append(
			    '<li>' +
				    '<div class="<%= @css_class %>-label">' +
					    '<strong><%= ColumnLabels.columnToLabel(title) %> : </strong>' +
					    '<span class="<%= @css_class %>-<%= title %>">' +
                           elementValue +
                        '</span>' +
                    '</div>' +
                '</li>'
            );
		<% end %>
	<% end %>

    $("#<%= @css_class %>-assign-new-or-search").hide();
    $("#<%= @css_class %>-assign-selected").show();
});
