<% if @mapActive %>
    $("#assign-search-form").html("<%= j ( render "assign/forms/map_form") %>");

    // Init Map
    let map;
    let enduserPosition = { 
        lat: <%= @enduser[:lat] %>, 
        lng: <%= @enduser[:lng] %> 
    };
    map = new google.maps.Map(document.getElementById('assign-map'), {
        center: enduserPosition,
        zoom: 7,
        gestureHandling: 'cooperative'
    });
    
    // Setup Marker
    let marker = new google.maps.Marker({ 
        position: enduserPosition, 
        map: map, 
        title: '<%= @enduser[:name] %>' ,
        animation: google.maps.Animation.DROP,
        icon: "http://maps.google.com/mapfiles/kml/paddle/blu-stars-lv.png"
    });
    let markerinfo = new google.maps.InfoWindow({ 
        content: '<div><strong><%= @enduser[:name] %></strong></div><div><%= @enduser[:address].squish %></div>' 
    });


    marker.addListener('click', function() { markerinfo.open(map, marker); } );
    marker.setIcon("http://maps.google.com/mapfiles/kml/paddle/blu-stars-lv.png");

    let yellow_circle = initCircle("#FFFF00", <%= @yellow * 1609.34 %>, enduserPosition, map);
    let red_circle = initCircle("#FF0000", <%= @red * 1609.34 %>, enduserPosition, map);
    
    // Setup extra end user markers
    var enduser_markers = {};

<% @endusers_red.each do |enduser| %>
        enduser_markers[<%= enduser[:id] %>] = addMapMarker(<%= enduser[:lat] %>, <%= enduser[:lng] %>, "<%= enduser[:name] %>", "<%= enduser[:address].squish %>", "<%= enduser[:id] %>", RED_ICON, map);
    <% end %>
    <% @endusers_yellow.each do |enduser| %>
        enduser_markers[<%= enduser[:id] %>] = addMapMarker(<%= enduser[:lat] %>, <%= enduser[:lng] %>, "<%= enduser[:name] %>", "<%= enduser[:address].squish %>", "<%= enduser[:id] %>", YELLOW_ICON, map);
    <% end %>
    <% @endusers_green.each do |enduser| %>
        enduser_markers[<%= enduser[:id] %>] = addMapMarker(<%= enduser[:lat] %>, <%= enduser[:lng] %>, "<%= enduser[:name] %>", "<%= enduser[:address].squish %>", "<%= enduser[:id] %>", GREEN_ICON, map);
    <% end %>
    
    let assignMapSlider = document.getElementById('assign-map-slider');

    noUiSlider.create(assignMapSlider, {
        start: [<%= @red %>, <%= @yellow %>],
        connect: [true, true, true],
        tooltips: true,
        step: 1,
        orientation: 'horizontal', // 'horizontal' or 'vertical'
        range: {
            'min': [0],
            '75%': [100, 50],
            '90%': [1000, 500],
            'max': [10000]
        },
        pips: {
            mode: 'range',
            density: 3
        }
    })
    
	let connect = assignMapSlider.querySelectorAll('.noUi-connect');
	let classes = ["red-connect", "yellow-connect", "green-connect"];

	for ( let i = 0; i < connect.length; i++ ) {
		connect[i].classList.add(classes[i]);
    }


    assignMapSlider.noUiSlider.on("update", function(values, index){
        let value = values[index] * 1609.34;

        switch(index){
            case 0:
                red_circle.setRadius(value);
                break;
            case 1:
                yellow_circle.setRadius(value);
                break;
        }
    })

    assignMapSlider.noUiSlider.on("end", function(values, index){
        $.ajax({
            url: "<%= update_map_path %>",
            method: "POST",
            data: {
                red: values[0],
                yellow: values[1]
            }
        })
    })

    var elems = document.querySelectorAll(".collapsible");
    let instances = M.Collapsible.init(elems, {
        onOpenStart: function(element){
            let header = element.querySelector(".collapsible-header");
            header.classList.add("assign-map-key-entry-active-header");

            let body = element.querySelector(".collapsible-body");
            body.classList.add("assign-map-key-entry-active-body");

            new google.maps.event.trigger( enduser_markers[element.dataset.enduser], 'click' );


            $("#keys-assign-selected").html(
                '<a class="assign-change-button btn btn-flat delta-btn-flat" ' + 
                'onclick="change_assign_entry(\'keys\')">' +
                'Change' + 
                '</a>' +
                '<ul></ul>'
            );

            let elementValue;
            <% Key.column_names.each do |title| %>
                <% if ColumnLabels.column?(title) %>
                    // Get <%= title %> value
                    elementValue = $.trim($(body).find(".keys-<%= title %>").html());

                    if (elementValue != ""){
                        // Add it to the list
                        $("#keys-assign-selected ul").append(
                            '<li class="delta-collection-item">' +
                                '<div class="keys-label">' +
                                    '<strong><%= ColumnLabels.columnToLabel(title) %> : </strong>' +
                                    '<span class="keys-<%= title %>">' +
                                       elementValue +
                                    '</span>' +
                                '</div>' +
                            '</li>'
                        );
                    }
                <% end %>
            <% end %>
            $("#keys-assign-new-or-search").hide();
            $("#keys-assign-selected").show();
            $("input[name=keys]").val(parseInt($(body).find(".keys-id").html()));
            check_assign_ready();
        },
        onCloseStart: function(element){
            $(".assign-map-key-entry .collapsible-header").removeClass("assign-map-key-entry-active-header");
            $(".assign-map-key-entry .collapsible-body").removeClass("assign-map-key-entry-active-body");
            $("#keys-assign-selected").html("");
            $("#keys-assign-new-or-search").show();
            $("#keys-assign-selected").hide();
            $("input[name=keys]").val("");
            check_assign_ready();
        }
    });

<% else %>
    $("#assign-search-form").html("<%= j (render 'assign/forms/search_form', search_type: @categorySearch, search_id: @category, search_category: @categoryName) %>")
<% end %>

let modalElement = document.querySelector('#assign-search-form');
let instance = M.Modal.init(modalElement, 
    {
        opacity: 0.9,
        endingTop: '5%',
        onCloseEnd: () => {
            $('#assign-search-form').off('click', '.add_fields');
            $('#assign-search-form').off('click', '.remove_fields');
            instance.destroy();
        }
    }
);

instance.open();

// Functions locted in app/assets/javascripts/application.js
$('#assign-search-form').on('click', '.remove_fields', remove_fields_click);
$('#assign-search-form').on('click', '.add_fields', add_fields_click);

$('.add_fields').click()

let selectElements = document.querySelectorAll('select');
for (let i = 0; i < selectElements.length; i++){
    M.FormSelect.init(selectElements[i]);
}
