<li class="list-group-item"><%= f.label :keyway %>		 	 :	<%= f.text_field :keyway %></br></li>
<li class="list-group-item"><%= f.label :master_key %>	 :	<%= f.text_field :master_key %></br></li>
<li class="list-group-item"><%= f.label :control_key %>	 :	<%= f.text_field :control_key %></br></li>
<li class="list-group-item"><%= f.label :stamp_code %>	 :	<%= f.text_field :stamp_code %></br></li>
<%= f.button :submit %>
