<li class="list-group-item"><%= f.label :keyway %>		 	 :	<%= f.text_field :keyway %></br></li>
<li class="list-group-item"><%= f.label :master_key %>	 :	<%= f.text_field :master_key %></br></li>
<li class="list-group-item"><%= f.label :control_key %>	 :	<%= f.text_field :control_key %></br></li>
<li class="list-group-item"><%= f.label :operating_key %>	 :	<%= f.text_field :operating_key %></br></li>
<li class="list-group-item"><%= f.label :bitting %>	 :	<%= f.text_field :bitting %></br></li>
<li class="list-group-item"><%= f.label :system_name %>	 :	<%= f.text_field :system_name %></br></li>
<li class="list-group-item"><%= f.label :comments %>	 :	<%= f.text_area :comments %></br></li>
<%= f.button :submit %>
