<%= search_form_for search_type, url: result_search_index_path, remote:true, method: :post do |f| %>
	<%= f.condition_fields do |c| %>
		<%= render "condition_fields", f: c %>
	<% end %>
    <%= link_to_add_fields '<i class="fa fa-plus-square" aria-hidden="true"></i>', f, :condition %>

	<div class="row">
		<div class="actions"><%= f.submit "Search", class:"btn col s4 push-s1 delta-btn" %></div>
		<%= link_to "Download " + search_category, export_path(search_type: search_id, format:"csv"), :method => :post, class:"btn col s4 push-s3 delta-btn" %>
	</div>
	<%= hidden_field_tag :search_type, search_id %>
<% end %>

