<%= link_to "Download Current #{search_category} Search", export_path(search_type: search_id) %>
<%= search_form_for search_type, url: result_search_index_path, method: :post do |f| %>
	<%= f.condition_fields do |c| %>
		<%= render "condition_fields", f: c %>
	<% end %>
	<p><%= link_to_add_fields "Add Conditions", f, :condition %></p>

	<div> Sort:
		<%= f.sort_fields do |s| %>
			<%= s.sort_select %>
		<% end %>
	</div>
	<div class="actions"><%= f.submit "Search" %></div>
	<%= hidden_field_tag :search_type, search_id %>
<% end %>

