<div>**Note: if the buttons on this page don't work, try refreshing**</div>
<div>
	<a id="purchase_order_search_header" href="javascript:void(0)" onclick="openTab(event, 'purchase_order_search');">
	    <div class="searchtablink">Purchase Orders</div>
	</a>
	<a id="keycodes_search_header" href="javascript:void(0)" onclick="openTab(event, 'keycodes_search');">
	    <div class="searchtablink">Key Codes</div>
	</a>
	<a id="end_user_search_header" href="javascript:void(0)" onclick="openTab(event, 'end_user_search');">
	    <div class="searchtablink">End Users</div>
	</a>
	<a id="purchaser_search_header" href="javascript:void(0)" onclick="openTab(event, 'purchaser_search');">
	    <div class="searchtablink">Purchasers</div>
	</a>
</div>

<div id="purchase_order_search" class="searchtab">
	<%= render 'search_form', search_type: @purchase_order_search, search_id: "purchase_order_search", search_category: "Purchase Order" %>
	<%= render 'search/tables/purchaseorders' %>
</div>
<div id="keycodes_search" class="searchtab">
	<%= render 'search_form', search_type: @keycodes_search, search_id: "keycodes_search", search_category: "Key Codes" %>
	<%= render 'search/tables/keycodes' %>
</div>
<div id="end_user_search" class="searchtab">
	<%= render 'search_form', search_type: @end_users_search, search_id: "end_user_search", search_category: "End User" %>
	<%= render 'search/tables/endusers' %>
</div>
<div id="purchaser_search" class="searchtab">
	<%= render 'search_form', search_type: @purchasers_search, search_id: "purchaser_search", search_category: "Purchaser" %>
	<%= render 'search/tables/purchasers' %>
	<%= render 'search_form', search_type: @assignments_search, search_id: "assignment", search_category: "Assignment" %>
	<%= render 'search/tables/assignments' %>
</div>
	<%# render 'search' %>


<script>
$(document).ready(function() {
	$("#<%= params[:search_type] %>_header").trigger("click");
});

</script>
