<div>
	<ul class="tabs tabs-fixed-width" >
		<li class="tab"><a id="keycodes_search_header" href="#keycodes_search" class="active">Key Codes</a></li>
		<li class="tab"><a id="end_user_search_header" href="#end_user_search">End Users</a></li>
		<li class="tab"><a id="purchaser_search_header" href="#purchaser_search">Purchasers</a></li>
		<li class="tab"><a id="purchase_order_search_header" href="#purchase_order_search">Purchase Orders</a></li>
	</ul>
</div>

<div id="purchase_order_search" class="searchtab">
	<%= render 'search_form', search_type: @purchase_order_search, search_id: "purchase_order_search", search_category: "Purchase Orders" %>
    <div id="purchaseorders-table">
        <%= render 'search/tables/generic', list: @purchase_orders_list, name: "Purchase Orders", classObject: PurchaseOrder, type: "purchaseorders" %>
    </div>
</div>
<div id="keycodes_search" class="searchtab">
	<%= render 'search_form', search_type: @keycodes_search, search_id: "keycodes_search", search_category: "Key Codes" %>
    <div id="keycodes-table">
        <%= render 'search/tables/generic', list: @keycodes_list, name: "Key Codes", classObject: Key, type: "keys" %>
    </div>
</div>
<div id="end_user_search" class="searchtab">
	<%= render 'search_form', search_type: @end_users_search, search_id: "end_user_search", search_category: "End Users" %>
    <div id="endusers-table">
        <%= render 'search/tables/generic', list: @end_users_list, name: "End Users", classObject: EndUser, type: "endusers" %>
    </div>
</div>
<div id="purchaser_search" class="searchtab">
	<%= render 'search_form', search_type: @purchasers_search, search_id: "purchaser_search", search_category: "Purchasers" %>
    <div id="purchasers-table">
        <%= render 'search/tables/generic', list: @purchasers_list, name: "Purchasers", classObject: Purchaser, type: "purchasers" %>
    </div>
</div>
