<li class="list-group-item"><%= ColumnLabels.columnToLabel("keyway") %> : <%= text_field_tag(:keyway, @entry["keyway"]) %></li></br>
<li class="list-group-item"><%= ColumnLabels.columnToLabel("master_key") %> : <%= text_field_tag(:master_key, @entry["master_key"]) %></li></br>
<li class="list-group-item"><%= ColumnLabels.columnToLabel("control_key") %> : <%= text_field_tag(:control_key, @entry["control_key"]) %></li></br>
<li class="list-group-item"><%= ColumnLabels.columnToLabel("operating_key") %> : <%= text_field_tag(:operating_key, @entry["operating_key"]) %></li></br>
<li class="list-group-item"><%= ColumnLabels.columnToLabel("bitting") %> : <%= text_field_tag(:bitting, @entry["bitting"]) %></li></br>
<li class="list-group-item"><%= ColumnLabels.columnToLabel("system_name") %> : <%= text_field_tag(:system_name, @entry["system_name"]) %></li></br>
<li class="list-group-item"><%= ColumnLabels.columnToLabel("comments") %> : <%= text_area_tag(:comments, @entry["comments"]) %></li></br>
<%= submit_tag("Submit") %>
