<% if @purchase_orders_list.length > 0 %>
	<h1>Purchase Orders</h1>
	<div class="">
		<% @purchase_orders_list.each do |entry| %>
			<%= link_to entry["id"], {:controller => "search", :action => "info", :id => entry["id"], :category => "purchaseorder" }, :remote => true %>

			<% purchaserEnduserKeyLinks(entry) %>
			<% if @enduser != nil %>
				<div id="associated-enduser-<%= entry["id"] %>">
					<%= link_to @end_user[:name], {:controller => "search", :action => "info", :id => entry["id"], :category => "enduser" }, :remote => true %>
				</div>
			<% end %>
			<% if @purchaser != nil %>
				<div id="associated-purchaser-<%= entry["id"] %>">
					<%= link_to @purchaser[:name], {:controller => "search", :action => "info", :id => entry["id"], :category => "purchaser" }, :remote => true %>
				</div>
			<% end %>
			<div id="associated-keys-<%= entry["id"] %>">
				<% @keys_list.each do |key| %>
					<%= link_to key[:key], {:controller => "search", :action => "info", :id => entry["id"], :category => "key" }, :remote => true %>
				<% end %>
			</div>
		<% end %>
	</div>
<% end %>
