<%# Render Manage page %>
<ul class="tabs tabs-fixed-width">
    <li class="tab"><a href="#manage_assignments">Assignments</a></li>
    <li class="tab"><a href="#file_upload_download">Files</a></li>
    <%# Only admins should be able to see this tabl %>
    <% if is_admin %>
        <li class="tab"><a href="#manage_users">Manage Users</a></li>
    <% end %>
</ul>

<%# File management tab %>
<div id="file_upload_download">
    <div class="row">
        <div class="col s6 card">
            <div class="card-content" id="manage-upload">
                <h3>Upload</h3>
                <%= form_tag upload_manage_path, multipart: true, remote: true do %>
                    <div class="file-field input-field row">
                      <div class="btn delta-btn col s4">
                        <label for="file" style="color:#fff">Select File</label>
                        <%= file_field_tag 'file' %>
                      </div>
                      <div class="file-path-wrapper col push-s1 s7">
                        <input class="file-path validate" type="text">
                      </div>
                    </div>

                    <div class="input-field">
                        <%= select_tag(:type, options_for_select(@file_options), include_blank: "-- Select an Upload Type --") %>
                    </div>

                    <%= submit_tag "Upload", class: "btn delta-btn" %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token, id:"assign-authenticity-token" %>
                <% end %>
            </div>
        </div>  

        <div class="col s6 card">
            <div class="card-content">
                <h3>Download</h3>
                <% @file_options.each do |name, type|%>
                    <div class="row">
                        <div class="divider" style="margin-top:10px"></div>
                        <h5 style="margin-top:10px"><%= name %></h5>
                        <%= link_to "Download All", download_path(template: "0", type: type, format: "csv"), class: "btn col s5 delta-btn" %>
                        <%= link_to "Download Template", download_path(template: "1", type: type, format: "csv"), class: "btn col push-s2 s5 delta-btn" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>

<%# Assignments tab %>
<div id="manage_assignments">
    <table class = "table bordered centered responsive-table show-table">
        <thead class = "thead-inverse">
            <tr>
                <% Relationship.column_names.each do |title| %>
                    <% if ColumnLabels.column?(title) %> 
                        <th><%= ColumnLabels.columnToLabel(title) %></th>
                    <% end %>
                <% end %>
                <th>Edit</th>
                <% if is_admin %>
                    <th>Delete</th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <%# Render each assignment along with an edit / delete option %>
            <% @assignments.each do |assignment_parts| %>
                <tr>
                    <td class="assign-table-cell"><%= assignment_parts[:id] %></td>
                    <% assignment_parts[:data].each do |type, entry| %>
                        <% if entry["name"] != "" %>
                            <td class="assign-table-cell">
                                <div><%= entry["name"] %></div>
                            </td>
                        <% else %>
                            <td class="assign-table-empty"></td>
                        <% end %>
                    <% end %>
                    <td class="assign-table-cell">
                        <%= link_to "Edit", edit_assign_path(assignment_parts[:id]), class:"btn delta-btn" %>
                    </td>
                    <%# Only admins can delete %>
                    <% if is_admin %>
                        <td class="assign-table-cell">
                            <%= link_to "Delete", delete_assign_path(assignment_parts[:id]), method: :delete, class:"btn red" %>
                        </td>
                    <% end %>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
<%# If admin, render the users tab %>
<% if is_admin %>
    <div id="manage_users">
        <div id="manage-users-table">
            <%= render 'manage/users_table' %>
        </div>
        <%# Link to add a new user %>
        <div id="new-user-button">
            <%= link_to raw('<i class="fa fa-plus-square" aria-hidden="true"></i>'), new_user_registration_path, class: "btn green", remote: true %>
        </div>
    </div>
    <div id="user-form" class="modal modal-fixed-footer"></div>
<% end %>
