
<div class="row">
    <div class="col s6" id="manage-upload">
        <h3>Upload</h3>
        <%= form_tag "#", multipart: true do %>
            <div class="file-field input-field row">
              <div class="btn delta-btn col s4">
                <label for="file" style="color:#fff">Select File</label>
                <%= file_field_tag 'file' %>
              </div>
              <div class="file-path-wrapper col push-s1 s7">
                <input class="file-path validate" type="text">
              </div>
            </div>

            <div class="input-field">
                <%= select_tag(:category, options_for_select(@options), include_blank: "-- Select an Upload Type --") %>
            </div>

            <%= submit_tag "Upload", class: "btn delta-btn" %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% end %>
    </div>
</div>
