<div class="assign-map-keys-title"><%= color %> Keys</div>
<ul class="collapsible">
    <% keys.each do |key| %>
        <li data-enduser="<%= key["enduser"] %>" data-id="<%= key["id"] %>" class="assign-map-key-entry">
            <div class="collapsible-header"><%= key["system_name"]%></div>
            <div class="collapsible-body">
                <%= render "assign/info/modal_list", className: Key, type: "keys", entry: key %>
            </div>
        </li>
    <% end %>
</ul>
