<% entryClass.column_names.each do |title| %>
    <% if ColumnLabels.column?(title) and not entry[title].blank? %>
        <li class="delta-collection-item">
            <div class="<%= type %>-label">
                <strong><%= ColumnLabels.columnToLabel(title) %> : </strong>
                <span class="<%= type %>-<%= title %>"><%= entry[title] %></span>
            </div>
        </li>
    <% end %>
<% end %>
