<li class="list-group-item"><%= f.label :name %>		 :	<%= f.text_field :name %></br></li>
<li class="list-group-item">
	<%= f.fields_for :address do |ff| %>
		<%= render :partial => 'shared/address', :locals => {:f => ff} %>
	<% end %>
	</br>
</li>
<li class="list-group-item"><%= f.label :phone %>		 :	<%= telephone_field(:purchaser, :phone) %></br></li>
<li class="list-group-item"><%= f.label :fax %>	 		 : 	<%= telephone_field(:purchaser, :fax) %></br></li>
<li class="list-group-item"><%= f.label :primary_contact %>		 :	<%= f.text_field :primary_contact %></br></li>
<li class="list-group-item"><%= f.label :primary_contact_type %>		 :	<%= f.text_field :primary_contact_type %></br></li>
<li class="list-group-item"><%= f.label :group %>	 		 : 	<%= f.text_field :group %></br></li>
<%= f.button :submit %>
