<div class="modal-content">
    <%= search_form_for search_type, url: result_assign_path, method: :post do |f| %>
        <%= f.condition_fields do |c| %>
            <%= render "assign/forms/condition_fields", f: c %>
        <% end %>
        <%= link_to_add_fields '<i class="fa fa-plus-square" aria-hidden="true"></i>', f, :condition %>

        <div class="row">
            <div class="actions"><%= f.submit "Search", class:"btn col s6 push-s3 delta-btn" %></div>
        </div>
        <%= hidden_field_tag :search_type, search_id %>
    <% end %>
    </div>
    <div class="modal-footer">
        <a href="#!" class="waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>
