<li class="list-group-item"><%= f.label :name %>		 :	<%= f.text_field :name %></br></li>
<li class="list-group-item"><%= f.label :address %>		 :	<%= f.text_field :address %></br></li>
<li class="list-group-item"><%= f.label :email %>		 :	<%= f.text_field :email %></br></li>
<li class="list-group-item"><%= f.label :phone %>		 :	<%= f.text_field :phone %></br></li>
<li class="list-group-item"><%= f.label :department %>	 : 	<%= f.text_field :department %></br></li>
<li class="list-group-item"><%= f.label :store_number %> : 	<%= f.text_field :store_number %></br></li>
<li class="list-group-item"><%= f.label :group_id %>	 :  <%= f.text_field :group_id %></br></li>
<%= f.button :submit %>
