<li class="list-group-item"><%= f.label :name %>		 :	<%= f.text_field :name %></br></li>
<li class="list-group-item">
	<%= f.fields_for :address do |ff| %>
		<%= render :partial => 'shared/address', :locals => {:f => ff} %>
	<% end %>
</li>
<li class="list-group-item"><%= f.label :phone %>        :  <%= telephone_field(:end_user, :phone) %></br></li>
<li class="list-group-item"><%= f.label :fax %>        :  <%= telephone_field(:end_user, :fax) %></br></li>
<li class="list-group-item"><%= f.label :primary_contact %>      :  <%= f.text_field :primary_contact %></br></li>
<li class="list-group-item"><%= f.label :primary_contact_type %>         :  <%= f.text_field :primary_contact_type %></br></li>
<li class="list-group-item"><%= f.label :store_number %> : 	<%= f.text_field :store_number %></br></li>
<li class="list-group-item"><%= f.label :group %>	 :  <%= f.text_field :group %></br></li>
<li class="list-group-item"><%= f.label :department %>	 : 	<%= f.text_field :department %></br></li>
<li class="list-group-item"><%= f.label :sub_department_1 %>	 : 	<%= f.text_field :sub_department_1 %></br></li>
<li class="list-group-item"><%= f.label :sub_department_2 %>	 : 	<%= f.text_field :sub_department_2 %></br></li>
<li class="list-group-item"><%= f.label :sub_department_3 %>	 : 	<%= f.text_field :sub_department_3 %></br></li>
<li class="list-group-item"><%= f.label :sub_department_4 %>	 : 	<%= f.text_field :sub_department_4 %></br></li>
<%= f.button :submit %>
