<li class="list-group-item"><%= ColumnLabels.columnToLabel("po_number") %> : <%= text_field_tag(:po_number, @entry["po_number"]) %></li></br>
<li class="list-group-item"><%= ColumnLabels.columnToLabel("so_number") %> : <%= text_field_tag(:so_number, @entry["so_number"]) %></li></br>
<li class="list-group-item"><%= ColumnLabels.columnToLabel("date_order") %> : <%= date_field_tag(:date_order, @entry["date_order"]) %></li></br>
<%= submit_tag("Submit") %>
