<%= form_for @purchaseorder, remote: true do |f| %>
	<li class="list-group-item"><%= f.label :po_number %>		 :	<%= f.text_field :po_number %></br></li>
	<li class="list-group-item"><%= f.label :date_order %>		 :	<%= f.text_field :date_order %></br></li>
	<li class="list-group-item"><%= f.label :so_number %>		 :	<%= f.text_field :so_number %></br></li>
	<%= f.button :submit %>
<% end %>
