<div class = "row">
    <div class = "col-xs-6">
        <ul class = "list-group">
            <% PurchaseOrder.column_names.each do |po| %>
                <li class = list-group-item><strong> <%= po %> : </strong><%= @purchaseorder[po] %></li>
            <% end %>
        </ul>
    </div>
    <div class = "col-xs-6">
        <h2>End User:</h2>
        <a class="list-group-item" href="<%= end_user_path(@end_user["id"]) %>"><%= @end_user[:name] %></a>
        <h2>Purchaser:</h2>
        <a class="list-group-item" href="<%= purchaser_path(@purchaser["id"]) %>"><%= @purchaser[:name] %></a>
        <h2>Keys</h2>
        <% @keys_list.each do |key| %>
            <a class="list-group-item" href="<%= key_path(key["key_hash"]) %>"><%= key[:key] %></a>
        <% end %>
    </div>
</div>
