<h2 class="center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
        <div class="col s6 push-s3">
            <div class="input-field">
                <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                <%= f.label :email %><br />
            </div>

            <div class="input-field">
                <%= f.password_field :password, autocomplete: "off" %>
                <%= f.label :password %><br />
            </div>

            <% if devise_mapping.rememberable? -%>
                <div class="input-field remember-me-field">
                    <label>
                        <%= f.check_box :remember_me %>
                        <span>Remember Me</span>
                    </label>
                </div>
            <% end -%>

            <div class="actions">
                <%= f.submit "Log in", class: "btn delta-btn" %>
            </div>
        </div>
    </div>
<% end %>

