<div class="row">
	<div class="col-xs-4">
		<ul id="entry-form" class="list-group" style="display:none;"></ul>
		<div id="entry-info">
			<%= render 'info_list' %>
			<%= link_to edit_entry_path(@type, @id), remote: true do %>
				<button>Edit</button>
			<% end %>
		</div>
	</div>
	<div class = "col-xs-8">
		<h2>Associations</h2>
		<table class = "table">
			<thead class = "thead-inverse">
				<tr>
					<% @column_names.each do |type, name| %>
						<% if type != @type %>
							<th><%= name %></th>
						<% end %>
					<% end %>
				</tr>
			</thead>
			<tbody>
				<% @associations.each do |association| %>
					<tr>
						<% association.each do |type, entry| %>
							<% if type != @type %>
								<td>
									<form action="/show/<%= type %>/<%= entry["id"] %>">
										<input type="submit" value="<%= entry["name"] %>">
									</form>
								</td>
							<% end %>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
