<ul>
	<% @class.column_names.each do |title| %>
		<% if ColumnLabels.column?(title) %>
			<li class="delta-collection-item">
				<div class="<%= @type %>-label">
					<strong><%= ColumnLabels.columnToLabel(title) %> : </strong>
					<span class="<%= @type %>-<%= title %>"><%= @entry[title] %></span>
				</div>
			</li>
		<% end %>
	<% end %>
</ul>
<div class="card-action row edit-btn">
	<%= link_to "Edit", edit_entry_path(@type, @id), remote: true, class:"btn col s12 delta-btn" %>
</div>
