$("body").append("<h1><%= @type %></h1>");
$("#<%= @type %>-new-form").append("<%= j (render 'new_form') %>");
$("#<%= @type %>-new-form").html("<%= j (render 'new_form') %>");

var elem = document.querySelector("#<%= @type %>-new-form");

var instance = M.Modal.getInstance(elem);  
instance.open();
