<ul class="tabs tabs-fixed-width" >
    <li class="tab"><a id="keycodes_header" href="#keys" class="active">Keys</a></li>
    <li class="tab"><a id="end_user_header" href="#endusers">End Users</a></li>
    <li class="tab"><a id="purchaser_header" href="#purchasers">Purchasers</a></li>
    <li class="tab"><a id="purchase_order_header" href="#purchaseorders">Purchase Orders</a></li>
</ul>

<div class= "row">
    <% @columns.each do |type, attributes| %>
        <div id="<%= type %>" class="col push-s4 s6">
            <%= form_tag( create_entry_path(type), method: :post, remote: true ) do |f| %>
                <h3 class="center-align">New <%= attributes["name"] %></h3>
                <%= render 'form', className: attributes["class"], entry: attributes["entry"] %>
                <%= submit_tag("Create", class:"btn col s12 delta-btn") %>
            <% end %>
        </div>
    <% end %>
</div>
