<div id="<%= params[:category] %>-list">
	<ul class="list-group">
		<% categoryList.column_names.each do |title| %>
			<% if ColumnLabels.column?(title) %>
				<li class="list-group-item">
					<strong><%= ColumnLabels.columnToLabel(title) %> : </strong>
					<% if title == "address_id" and not @address_attributes == nil %>
						</br>
						<span class="<%= classString + "-" + title %>"><%= build_address_string(@address_attributes) %>
					<% else %>
						<span class="<%= classString + "-" + title %>"><%= entry[title] %></span>
					<% end %>
				</li>
			<% end %>
		<% end %>
	</ul>
	<%= link_to path, remote: true do %>
		<button class="btn">Edit</button>
	<% end %>
</div>
<div id="<%= params[:category] %>-form"></div>

