<div id="map-sliders">
	<%= form_tag map_path(params[:id]), :method => :get do %>
		<input id="red-slider" 
			   type="text" 
			   data-slider-min="0" 
			   data-slider-max="<%= params[:yellow] %>" 
			   data-slider-step="1" 
			   data-slider-value="<%= params[:red] %>" 
			   data-slider-id="red-data-slider" 
			   data-slider-handle="round"/>
		<input id="red-slider-value"
			   name="red" 
			   type="text" 
			   value="<%= params[:red] %>" 
			   onchange="setRedSliderValue(this.value)"/>

		<input id="yellow-slider" 
			   type="text" 
			   data-slider-min="0" 
			   data-slider-max="<%= params[:green] %>" 
			   data-slider-step="1" 
			   data-slider-value="<%= params[:yellow] %>" 
			   data-slider-id="yellow-data-slider" 
			   data-slider-handle="round"/>
		<input id="yellow-slider-value" 
			   name="yellow" 
			   type="text"
			   value="<%= params[:yellow] %>" 
			   onchange="setYellowSliderValue(this.value)"/>

		<input id="yellow-slider-max" 
			   type="text" 
			   name="green" 
			   value="<%= params[:green] %>" 
			   onchange="setYellowMax(this.value)"/>
		<%= submit_tag "Refresh" %>
	<% end %>
</div>

<div id="map-data" class="row">
	<div class="col-xs-8">
		<div style='width: 100%;'>
			<div id="map" style='width: 100%; height: 400px;'></div>
			<script type="text/javascript" charset="utf-8">
				// meter = mile * 0.00062137
				var endUserLatitude = <%= @enduser[:lat] %>;
				var endUserLongitude = <%= @enduser[:lng] %>;
				var endUserCenter = new google.maps.LatLng(endUserLatitude, endUserLongitude);

				map = new google.maps.Map(document.getElementById('map'), {
					center: endUserCenter,
					zoom: 8,
					radius: <%= Integer(params[:yellow]) * 1609.34 %>
					});

				yellow_circle = new google.maps.Circle({
					strokeColor: '#FFFF00',
					strokeWeight: 5,
					fillColor: '#FFFF00',
					fillOpacity: '0.1',
					radius: <%= Integer(params[:yellow]) * 1609.34 %>,
					center: endUserCenter,
					map: map,
					clickable: false
				});
				red_circle = new google.maps.Circle({
					strokeColor: '#FF0000',
					strokeWeight: 5,
					fillColor: '#FF0000',
					fillOpacity: '0.1',
					radius: <%= Integer(params[:red]) * 1609.34 %>,
					center: endUserCenter,
					map: map,
					clickable: false
				});
				
						//'http://maps.google.com/mapfiles/kml/paddle/wht-stars.png');
						//http://maps.google.com/mapfiles/ms/icons/green-dot.png')

				var red_markers = [];
				var yellow_markers = [];
				var green_markers = [];
				var red_icon = "http://maps.google.com/mapfiles/ms/icons/red-dot.png";
				var yellow_icon = "http://maps.google.com/mapfiles/ms/icons/yellow-dot.png";
				var green_icon = "http://maps.google.com/mapfiles/ms/icons/green-dot.png";


////////////////////////////////////////////////////////////////////////////////////////////
//				var contentString = "hi"
//				var infowindow = new google.maps.InfoWindow({
//					content: contentString
//				});
//        		var marker = new google.maps.Marker({
//			        position: uluru,
//					map: map,
//					title: 'Uluru (Ayers Rock)'
//				});
//        		marker.addListener('click', function() {
//			       	infowindow.open(map, marker);
//				});
////////////////////////////////////////////////////////////////////////////////////////////

				<% @end_users_red.each do |eur| %>
					var eurLocation = new google.maps.LatLng(<%= eur[:lat] %>, <%= eur[:lng] %>);
					var mark = new google.maps.Marker({ position: eurLocation, map: map });
					red_markers.unshift(mark);
					red_markers[0].setIcon(red_icon);
				<% end %>
				<% @end_users_yellow.each do |euy| %>
					var euyLocation = new google.maps.LatLng(<%= euy[:lat] %>, <%= euy[:lng] %>);
					var mark = new google.maps.Marker({ position: euyLocation, map: map });
					yellow_markers.unshift(mark);
					yellow_markers[0].setIcon(yellow_icon);
				<% end %>
				<% @end_users_green.each do |eug| %>
					var eugLocation = new google.maps.LatLng(<%= eug[:lat] %>, <%= eug[:lng] %>);
					var mark = new google.maps.Marker({ position: eugLocation, map: map });
					green_markers.unshift(mark);
					green_markers[0].setIcon(green_icon);
				<% end %>


				var marker = new google.maps.Marker({ position: endUserCenter, map: map, title: '<%= @enduser[:name] %>' });
				var markerinfo = new google.maps.InfoWindow({ content: '<%= @enduser[:address] %>' });
				marker.addListener('click', function() { markerinfo.open(map, marker); } );
				marker.setIcon("http://maps.google.com/mapfiles/kml/paddle/blu-stars-lv.png");


				var bounds = yellow_circle.getBounds();

				map.fitBounds(bounds);

				$(document).ready(function() {
					$(window).keydown(function(event){
						if(event.keyCode == 13) {
							event.preventDefault();
							return false;
						}
					});
				});
			</script>
		</div>	  
	</div>
	<div class='col-xs-4'>
		<div class="panel-group" id="accordion">
			<% @current_keys = @green_key_codes %>
			<% @uid = "green-key-codes" %>
			<%= render 'list' %>

			<% @current_keys = @yellow_key_codes %>
			<% @uid = "yellow-key-codes" %>
			<%= render 'list' %>

			<% @current_keys = @red_key_codes %>
			<% @uid = "red-key-codes" %>
			<%= render 'list' %>
		</div>
	</div>
</div>
