<!DOCTYPE html>
<html>
<head>
    <title>DeltaLock</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSpBVcEmUnLMXS1wN9Mx8JcOhWvLA0kvY&v=3" async defer type="text/javascript"></script>
	<!--<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>--> <!-- only if you need custom infoboxes -->

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
	<%= csrf_meta_tags %>
</head>
<body>
	<nav class="delta-blue">
		<div class="nav-wrapper">
            <a href="/" class="brand-logo center">DeltaLock</a>
			<ul id="nav-mobile" class="hide-on-med-and-down">
                <li><a href="<%= search_path %>">Search</a></li>
                <li><a href="<%= new_entry_path %>">New</a></li>
                <li><a href="<%= assign_path %>">Assign</a></li>
                <li><a href="<%= manage_path %>">Manage</a></li>
            </ul>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <% if user_signed_in? %>
                    <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to raw("<i class='material-icons right'>account_circle</i>Login"), new_user_session_path %></li>
                <% end %>
            </ul>
		</div>
    </nav>
	<div class="container">
		<%= yield %>
    </div>
</body>
</html>
